ul{


list-style-type: none;
display: flex;

/* align-items: center; */
justify-content: center;

}

li{

    background-color: blue;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin:0 70px 0 70px ;
}