*{ margin: 0;
    padding: 0;
    box-sizing: border-box


}

.contentDiv{
    width: 50%;
    display: inline-block;
    overflow: hidden;
    height: 500px;
    padding: 10px;
    
}

.imgContainer{
position: relative;

}

.imgContainer img{

    width: 200px;
    position: absolute;
}

.imgContainer img:nth-child(3){
    left: 80px;
    top: 70px;
}


.imgContainer img:nth-child(2){
    left: 200px;
    top: 120px;

}

/*pseudo class um die einzelnen bilder/kinder in dem div image container anzusprechen, statt für jedes bild eine eigene classe zu erstellen */
.imgContainer img:nth-child(1){
    left: 150px;
    top: 10px;

}

.imgContainer img:hover{
   outline-offset: 10px;
   outline: solid 10px lightcoral;
   width: 250px;
   z-index: 3;

}

.shadow{ /*the father of the shadow is the body so the absolute position is related to the body*/
    height: 100vh;
    width: 100vw;
    background-color: rgba(36, 4, 4, 0.267);
    position: absolute; 
    top: 0;
}

.box{/*the father of the box is the shadow, so the absolute position is related to the shadow*/
    height: 10vw;
    width: 30vw;
    left: 35vw;
    top: 5vh;

    background-color: rgba(34, 109, 103, 0.308);
    position: sticky;
    border-radius: 5px;
  }  