.somediv{
    width: 80%;
    max-width: 10000px;
    min-width: 500px;
    background-color: red;
    height: 50vh;
    min-height: 500px;
    max-height: 900px;
}

.somediv2{

background-color: gray;
height: 20vh;
width: 500px;
}

.subdiv{
 /* prozent angaben in der höhe/weite beziehen sich auf die zb 50% des VATER/eltern DIVS nicht der webseite ---bei VH und WH bezieht/verhält es sich auf die größe der webseite*/

    height: 70%;
    background-color: aqua;
    width:50%;
}
