
@import "settings";

@for $var from 1 to 13 {
    
    .col-#{$var}{
        width: 8.33% * $var;
        @extend .floatDiv;
    }
}
/* only the first col in the class is effected */
/* if i do like the following with a * then it means ALL cols in that class are effected[class*='col'] {
  float: left;
}
 */
// [class^='col']{
//     float: left;
// }
/* this is the same as floatDiv underneath.. but i need to add @extend .floatDiv in the "for $var from 1-13" extension above */

.floatDiv{
    float: left;
}

@media only screen and (max-width:768px){
    [class*='col']{
        float: left;
        width: 50%;
    }   
        .container{
        
            width: 100%;
        }
    
    

}
