*{

    margin: 0;
    padding: 0;
}


.div1{

    background-color: red;
    height: 100px;
    width: 25%;
float: left;
}

.div2{

    background-color: blue;
    height: 100px;
    width: 50%;
    float: left;
    
}

.div3{

    background-color: green;
    height: 100px;
    width: 25%;
    float: left;
    
    
}