.div1{

    background-color: red;
    height: 100px;
    width: 100px;
float: left;
}

.div2{

    background-color: blue;
    height: 75px;
    width: 100px;
    float: left;
    clear: both;
}

.div3{

    background-color: green;
    height: 50px;
    width: 100px;
    float: left;
    
}